@model BusinessLayer.ModelDTO.BookDTO
@{
    ViewBag.Title = "EditBook";
}

<h2>Edit Book</h2>
@using (Html.BeginForm())
{
<div class="form-group">
    @Html.LabelFor(model => model.NameBook)

</div>
<div>
    @Html.EditorFor(model => model.NameBook)
</div>
    <button type="submit">Save</button>
}

